.nav {
	height: 65px;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	position: fixed;
	width: 100%;
	background-color: #fff;
	top: 0;
}

.logo {
	width: 50px;
}

.hidden {
	display: none !important;
}

@media only screen and (max-width : 480px) {
	.nav {
		height: 100%;
		width: 100%;
		z-index: 1;
		top: 0;
		right: 0;
		flex-direction: column;
	}

	.menu {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2; 
		background-color: #fff;
	}
	
	.logo {
		width: 150px;
	}
}