*, body {
	font-family: Helvetica; 
	text-align: center;
	margin: 0;
	color: #8b5f48;
	letter-spacing: 2px;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
	width: 50px;
}

.hero {
	background-image: url(../img/beans.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.title {
	font-size: 50px;
	font-weight: 100;
}

.email {
	border: 1px solid #8b5f48;
	background-color: #efefef;
	padding: 10px 35px;
	font-size: 16px;
}

.button {
	padding: 10px 25px;
	border: 1px solid #8b5f48;
	font-size: 16px;
	color: #efefef;
	background-color: #8b5f48;
}

.mc-field-group {
	padding: 20px;
}