*, body {
	font-family: Helvetica; 
	text-align: center;
	margin: 0;
	color: #8b5f48;
	letter-spacing: 2px;
}

section {
	min-height: 100vh;
}

.flex {
	display: flex;
}

.center {
	justify-content: space-around;
	align-items: center;
}

.hero {
	background-image: url(./img/beans.jpg);
	background-size: cover;
	background-position: center;
}

.title {
	font-size: 50px;
	font-weight: 100;
}